.bubble-text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.positive {
  fill: #e3f5dd;
  stroke: #7dcb62;
  stroke-width: 1px;
}

.negative {
  fill: #fdb9ae;
  stroke: #ee322a;
  stroke-width: 1px;
}

.neutral {
  fill: #aaaaaa;
  fill-opacity: .25;
  stroke: #999999;
  stroke-width: 1px;
}
