// navbar

.navbar {
  background-color: #ee322a;
  border-radius: 0;
  margin-bottom: 10px;
}

// card
.card {
  position: relative;
  border: 0.1rem solid #e5e5e5;
  border-radius: 0.4rem;
  position: relative;
  background-color: #FFF;
}

.row .card + .card {
  margin-top: 2rem;
}

.card-img-top {
  border-radius: 0.4rem 0.4rem 0 0;
}

.card-block {
  padding: 1.25rem;
}

.card-block img.card-img {
  top: 50%;
  margin-top: -36px;
  width: 72px;
  border: 3px solid #FFF;
  border-radius: 0.4rem;
  float: left;
  position: relative;
  z-index: 99;
}

.card-block .card-title {
  float: left;
  margin: 0 0 0 0.5em;
}

.card-block .card-title small {
  display: block;
}

.card-block .card-text {
  clear: both;
  padding-top: 0.25em;
  margin-bottom: 1.5em;
}

.card-block ul a:hover {
  text-decoration: none;
}

.card-block ul .profile-stats {
  color: #777;
  display: block;
  text-transform: uppercase;
  font-size: 0.63em;
}

.card-block ul .profile-value {
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  color: #2F92CA;
}

.card .card-header {
  border-radius: 0.4rem 0.4rem 0 0;
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 0.1em solid #e5e5e5;
  color: #4e5665;
  font-weight: bold;
}
// card footer
.card .card-footer {
  border-radius: 0 0 0.4rem 0.4rem;
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 0.1em solid #e5e5e5;
  color: #4e5665;
}
