.container-fluid{
  margin: 0px;
  padding: 0px;
}
.chart-wrapper {
  background: #fff;
}

.chart-wrapper .chart-title {

  color: #595959;
  font-size: 16px;
  font-weight: 600;

  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

#sentiment {
  background-color: #f5f5f5;
  height: 100%;
  width: auto;
}

div[class^="col-"] {
  padding: 0px;

}

.row{
  margin: 0px;
  background-color: #fff
}

.border-bottom {
  border-bottom: 1px solid #d7d7d7;
}






// body.application div[class^="col-"] div[class^="col-"],
// .keen-dashboard div[class^="col-"] div[class^="col-"] {
//   padding-left: 15px;
//   padding-right: 15px;
// }
