/*
 * Sidebar
 */

.sidebar {
  height:100%;
  position: fixed;
  right:0;
  top: 64px;
  bottom: 0;
  z-index: 1000;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-left: 1px solid #ddd;
}

/* Sidebar navigation */

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

/*
* Graph Common Styles
*/

.graph {
  width: 100%;
  display: block;
}

/*
* Section Header
*/

.section-header {
    padding-top: 1.5rem !important;
    height: 3rem;
}

.section-header h6 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    float: left;
}

.section-header em {
    float: left;
    font-size: 0.9em;
    color: #bbb;
    margin-left: 4px;
}

.section-header .section-header-toolbar {
  float: right;
}

.section-header .section-header-toolbar > a {
  color: #777;
  margin-left: 5px;
}
