<!-- <div class="container-fluid">
  <div class="row border-bottom">
      <counter [config]= "CounterConfig"></counter>
  </div>

  <div class="row" >

    <div class="col-sm-8 col-sm-offset-8 ">

      <div class="row">
        <div class="chart-wrapper">
          <div class="chart-title">
            Tweets por Canal
          </div>
          <div class="chart-stage">
            <div id="chart-02">
              <bar-chart [config]="BarChartConfig"></bar-chart>
            </div>
          </div>
          <div class="chart-notes">
            Ultima Actualización:
          </div>
        </div>
      </div>

      <div class="row">
        <div class="chart-wrapper">
            <div class="chart-title">
              Distribución Geográfica
            </div>
            <div class="chart-stage">
              <div id="chart-05">
                <trend-chart [config]="TrendChartConfig"></trend-chart>
              </div>
            </div>
            <div class="chart-notes">
              Ultima Actualización:
            </div>
          </div>
        </div>

    </div>

    <div class="col-sm-4 col-sm-offset-4 ">
      <div class="chart-wrapper sentiment">
        <div class="chart-title">
          Sentimiento y Alcance
        </div>
        <div class="chart-stage">
          <div id="chart-04">
            <bubble-chart [config]="BubbleChartConfig"></bubble-chart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->




<div class="container-fluid">
  <div class="row">

    <main class="col-sm-9 col-md-8 pt-2">
      <section class="row">
        <counter class="col" [config]= "CounterConfig"></counter>
      </section>

      <div class="section-header">
        <h6>Tweets por Canal</h6>
        <em>- Cuantos tweets clasificó Watson por canal en las ultimas 12 horas</em>
        <div class="section-header-toolbar">
					<a href="#" title="Compartir"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          <a href="#" title="Compartir"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
				</div>
      </div>


      <section class="row">
        <bar-chart class="col" [config]="BarChartConfig"></bar-chart>
      </section>

      <div class="section-header">
        <h6>Tendencia</h6>
        <em>- Cantidad de tweets en los ultimos 3 días</em>
        <div class="section-header-toolbar">
					<a href="#" title="Compartir"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
					<a href="#" title="Compartir"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
				</div>
      </div>

      <section class="row">
        <trend-chart class="col" [config]="TrendChartConfig"></trend-chart>
      </section>
    </main>

      <nav class="col-md-4 sidebar bg-faded" id="sidebar">
        <div class="section-header" style="padding-top: 0px !important;">
          <h6>Sentimiento y Alcance</h6>
          <div class="section-header-toolbar">
        		<a href="#" title="Compartir"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <a href="#" title="Compartir"><i class="fa fa-clipboard" aria-hidden="true"></i></a>
        	</div>
        </div>
        <bubble-chart [config]="BubbleChartConfig"></bubble-chart>
      </nav>

  </div>
</div>
