<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Avatar
        </div>
        <div class="chart-stage">
          <div id="chart-01"></div>
        </div>
        <div class="chart-notes">
          This is a sample text region to describe this chart.
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Tendencia en tiempo real
        </div>
        <div class="chart-stage">
          <div id="chart-02">
            <bar-chart [config]="BarChartConfig"></bar-chart>
          </div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-sm-4 col-sm-offset-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Tweets por canal
        </div>
        <div class="chart-stage">
          <div id="chart-04"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sentimiento
        </div>
        <div class="chart-stage">
          <div id="chart-05">
            <bubble-chart [config]="BubbleChartConfig"></bubble-chart>
          </div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>
</div>
